/*main section styling*/
.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

/*player login information styling*/ 
#player-name {
    color: green;
    font-weight: bold;
}

.user-login-info {
    display: flex;
    margin: 10px;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
    color: black;
    font-size: 14px;
    position: relative;
}

/*Game Button Styling*/
.GameButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 10px;
    text-decoration: none !important;
}

.game-button {
    justify-content: center;
    margin: 10px;
    font-size: clamp(18px, 4vw, 28px);
    background-color: #000000d4;
    color: green;
    height: clamp(100px, 30vh, 400px);
    width: clamp(100px, 30vw, 400px);
    border-radius: 10px;
}

/*Live Update Styling*/
.live-updates {
    display: flex;
    flex-direction: column; /* Stack notifications vertically */
    justify-content: flex-start;
    font-weight: bold;
    color: white;
    width: clamp(100px, 90vw, 600px);
    height: clamp(50px, 30vh, 400px);
    margin: auto 1rem 2rem 1rem;
    margin-top: auto;
    padding: 1rem;
    border: 3px solid green;
    background-color: #000000d4;
    border-radius: 10px;
    font-size: clamp(11px, 2vw, 16px);
    align-self: center;
    overflow-y: auto; /* Allow scrolling if many notifications */
}
.players {
  flex: 1;
  width: 100%;
  padding: 0.5em;
}

.player-name {
  color: rgb(60, 208, 72);
  margin: 0 0.25em;
}

#player-messages {
  color: greenyellow;
  padding-top: 0.25em;
  opacity: 0.7;
}

.event {
  color: rgb(255, 255, 255);
  margin-bottom: 0.5em;
}

.player-event {
  color: rgb(9, 182, 15);
  margin: 0 0.25em;
}

.game-name {
  color: #ffd700;
  font-weight: bold;
}

.score-value {
  color: #00d4ff; 
  font-weight: bold;
}

.system-event {
  color: rgb(221, 148, 40);
  margin: 0 0.25em;
}


@media (max-width: 600px) {
  .GameButtons {
    flex-direction: row;
  }
}