#player-name {
    color: green;
    font-weight: bold;
}

.user-login-info {
    align-items: left;
    justify-content: left;
    display:flex;
    font-size: 14px;
    position: relative;
}

#GameButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.game-button {
    display: flex;
    margin: 10px;
    font-size: 28px;
    color: white;
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.nav-button {
    margin: 10px;
}


#websocket-user {
    color: rgb(2, 193, 11);
}

.live-updates {
    display: flex;
    font-weight: bold;
    width: 90vh;
    height: 100px;
    padding: 10px;
    justify-items: center;
    position: absolute;
    bottom: 30vh;
    border: 3px solid green;
    border-radius: 10px;
}